<!-- Begin: landing.tmpl -->

<div class="jumbotron text-center amigo-jumbotron-override">
  <h2>SDGIO</h2>
  <!-- <p class="lead"> -->
  <div class="lead">
    More information on quick search
    [% INCLUDE "common/autocomplete_help_link.tmpl" %]

    [% INCLUDE "common/landing_search_form.tmpl" %]
  </div>
<div>
<span style="font-size=14;float=left"><h4>Sustainable Development Goals Interface Ontology (SDGIO)</h4></span></br>
<span style="font-size=10;float=left">A domain ontology defines a common vocabulary for researchers who need to share information in a domain. Particular meanings of terms applied to that domain are thus provided by domain ontology. It includes machine-interpretable definitions of basic concepts in the domain and relations among them.</span>Why would someone want to develop an ontology? Some of the reasons are:</br>
·	To share common understanding of the structure of information among people or software agents</br>
·	To enable reuse of domain knowledge</br>
·	To make domain assumptions explicit: this makes it possible to change these assumptions easily if our knowledge about the 	domain change</br>
·	To separate domain knowledge from the operational knowledge</br>
·	To analyze domain knowledge</br>
The Inter Agency Expert Group on Sustainable Development Goals (IAEG-SDG) in its 2nd meeting (Bangkok, October 2015) requested UNEP to develop the SDG Interface Ontology. The SDG Interface Ontology (SDGIO) focuses on specifications of terms and relations in the domain of sustainable development goals, targets and indicators such as the term ‘access’ that occurs 31 times in the SDG Global Indicator Framework.<br>

<span style="font-size=14;float=left"><h4>PEER REVIEW PROCESS:</h4></span></br>
SDG domain specialists are invited to review the SDGIO definitions and relations by clicking on the ‘peer review’ tab. The peer review process also allows requesting for the inclusion of other terms in the SDGIO that the peer reviewer would like to be explained to a user.<br>

<span style="font-size=14;float=left"><h4>Acknowledgment:</h4></span> The SDG Interface Technology was developed by the SDGIO Expert Group.  Members of the SDGIO Expert Group are: Pier Luigi Buttigieg (Alfred-Wegener-Institut), Mark Jensen (…), Suzanna Elaine Lewis (Lawrence Berkeley National Laboratory), Chris Mungall (Lawrence Berkeley National Laboratory), Mark Paul Schildhauer (National Center for Ecological Analysis and Synthesis; University of California Santa Barbara), Lynn Marie Schriml (University of Maryland School of Medicine), Barry Smith (University at Buffalo), Ramona Lynn Walls (Cyverse)

</div>
  <!-- </p> -->
  <!--   <a class="btn btn-lg btn-success" -->
  <!--      href="http://wiki.geneontology.org/index.php/AmiGO_2_Manual:_Overview">Learn more</a> -->
  <!-- </p> -->
</div>

[% IF BETA == 1 %]
<!-- beta section -->    
[% END %]
<!-- End: landing.tmpl -->
