<!-- Begin: landing.tmpl -->

<div class="jumbotron text-center amigo-jumbotron-override">
  <h2>SDGIO</h2>
  <!-- <p class="lead"> -->
  <div class="lead">
    More information on quick search
    [% INCLUDE "common/autocomplete_help_link.tmpl" %]

    [% INCLUDE "common/landing_search_form.tmpl" %]
  </div>
 </div>
<p style="margin-left:10em;">

<span style="font-size=14;float=left;margin-left: 10em;"><h4>Sustainable Development Goals Interface Ontology (SDGIO)</h4></span></br>
<span style="font-size=10;float=left;margin-left: 10">An ontology clarifies the meanings of terms used by researchers who need to share information within or between disciplines. Such an ontology can represent the precise
differences between terms with logically coherent definitions, thus making its content machine-interpretable. Importantly, the relations among terms are also represented with increased precision.</span>Some of the motivating reasons for developing an ontology are:</br>
 	To share common understanding of the structure of information among people or software agents</br>
        To enable reuse of domain knowledge</br>
        To make domain assumptions explicit: this makes it possible to change these assumptions easily if our knowledge about the domain change</br>
        To separate domain knowledge

The Inter Agency Expert Group on Sustainable Development Goals (IAEG-SDG) in its 2nd meeting (Bangkok, October 2015) requested UNEP to develop the SDG Interface Ontology. The SDG Interface Ontology (SDGIO) focuses on specifications of terms and relations in the domain of sustainable development goals, targets and indicators such as the term ‘access’ that occurs 31 times in the SDG Global Indicator Framework.<br>

<span style="font-size=14;float=left;margin-left: 10"><h4>PEER REVIEW PROCESS:</h4></span></br>
SDG domain specialists are invited to review the SDGIO definitions and relations by clicking on the ‘peer review’ tab. The peer review process also allows requesting for the inclusion of other terms in the SDGIO that the peer reviewer would like to be explained to a user.<br>

<span style="font-size=14;float=left;margin-left: 10"><h4>Acknowledgment:</h4></span> The SDG Interface Technology was developed by the SDGIO Expert Group.  Members of the SDGIO Expert Group are: Pier Luigi Buttigieg (Alfred‐Wegener‐Institut, Helmholtz Zentrum für
Polar und Meereforschung), Mark Jensen (National Center for Ontological Research), Suzanna Lewis (Lawrence Berkeley National Laboratory), Chris Mungall (Lawrence Berkeley National Laboratory), Mark Schildhauer
(National Center for Ecological Analysis and Synthesis; University of California Santa Barbara), Lynn Schriml (University of Maryland School of Medicine), Barry Smith (National Center for Ontological Research), Ramona
Walls (Cyverse).
</p>

